.count-container {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  .count {
    font-size: 36px;
    font-family: "montserrat";
    color: #c7c7c7;
    font-weight: 700;
  }
  .number-des {
    font-size: 16px;
    color: #505050;
    font-weight: bold;
  }
}
